<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home !</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- stylesheet -->   
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/homepage.css")"> 
        
    </head>
    <body>
        <div id="top">
            <!-- menu -->
            <div id="menu">
                <!-- to fix the menu to the top-->
                <div class="navbar-wrapper">
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="container">
                            <!-- for the logo-->
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">Familiar (Image here)</a>
                            </div>
                            <!--left side of the menu -->
                            <div id="left-menu"class="nav navbar-nav navbar-left">
                                <ul class="nav navbar-nav">
                                    <li><a href="#familiar">Familiar</a></li>
                                </ul>    
                            </div>
                            <!-- right side -->
                            <div class="nav navbar-nav navbar-right">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Contact</a></li>
                                </ul>  
                            </div>
                        </div>
  
                    </nav> 
                </div>
            </div>    
        </div>
        
        <div id="contains">
            <div id="pre" class="container">
                <div class="jumbotron">
                    <h1>Welcome to familiar website</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                
            </div>
        
            <!-- papers about familiar or other languages -->
            <div id="news" class="container">
               <h2>News</h2>
               
            </div>
            <!--short presentation of the language -->
            <div id="language" class="container">
                <div id="familiar">
                    <h3>Familiar</h3>
                    <p>Familiar is a ...</p>
                    <ul>
                        <li><a href="#">Tutorial</a></li>
                        <li><a href="#">Web IDE</a></li>
                    </ul> 
                </div>
                <!--<div id="vm">
                    <h3>VM</h3>
                    <p>Vm is...</p>
                    <ul>
                        <li><a href="#">Tutorial</a></li>
                        <li><a href="#">Web IDE</a></li>
                    </ul> 
                </div>-->
            </div>
        </div>
        
        
        <div id="bottom">
            
        </div>
    </body>
</html>