@(message: String)

    @mainFML("Welcome to FAMILIAR!") {

        <!-- facilities for FML variables -->
        <script src="@routes.Assets.at("javascripts/FMLvariables.js")"></script>

        <!-- EDITOR -->
        <script src="@routes.Assets.at("javascripts/FMLeditor.js")" type="text/javascript" charset="utf-8"></script>
        <!-- begin ACE editor -->
        <script src="@routes.Assets.at("javascripts/ace-builds/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("javascripts/ace-builds/src-noconflict/theme-monokai.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("javascripts/ace-builds/src-noconflict/mode-javascript.js")" type="text/javascript" charset="utf-8"></script>
        <!-- end ACE editor (style) -->
        <!-- end EDITOR -->

        <!-- CONSOLE -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ansi.css")">
        <script src="@routes.Assets.at("javascripts/jq-console/jqconsole.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/FMLconsole.js")"></script>
        <!-- end CONSOLE -->

        <!-- WORKSPACE -->
        <script src="http://cdn.alloyui.com/2.0.0/aui/aui-min.js"></script>
        <link href="http://cdn.alloyui.com/2.0.0/aui-css/css/bootstrap.min.css" rel="stylesheet">
        <!-- end WORKSPACE -->
        
        <!-- KSYNTHESIS -->
        <script src="@routes.Assets.at("javascripts/dagre-d3/d3.v3.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/dagre-d3/dagre-d3.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/ksynthesis.js")"></script>
		<!-- end KSYNTHESIS -->

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/console.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/fmpreview.css")">

        </head>
        <body>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="#">Familiar</a>
                        <button id="toggle-console" class="btn btn-info"><i class="icon-pencil icon-white"></i> Toggle Console</button>
                        <div class="btn-group pull-right">
                            <button class="btn btn-info" id="webFmlCmd">Execute FAMILIAR code</button>
                            <button class="btn btn-info" id="webFmlReset">Reset variables' environment</button>
                            <button class="btn btn-info" id="webFmlSaveAs">Save as...</button>
                        </div>
                        <form class="navbar-form pull-right" style="margin-right: 5px">
                            <input type="text" class="form-control" id="fileInputName" placeholder="Enter filename...">
                        </form>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="main-container">
                <div class="row-fluid">
                    <div class="span3 scrollable" id="workspace">
                        <div class="pull-right" style="margin-right: 5px">
                            <button class="btn btn-small" onclick="updateWorkspace();"><i class="icon-refresh"></i></button>
                            <div id="wait"></div>
                        </div>
                        <div id="myTreeView"></div>
                    </div>

                    <div class="span6" id="tabs-hoster">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#editor" data-toggle="tab">FML Editor</a></li>
                            <li><a href="#ksynthesis-tab" data-toggle="tab">KSynthesis</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="editor">@message</div>
                            <div class="tab-pane" id="ksynthesis-tab" ng-controller="KSynthesisCtrl">
                            
	                            <div class="btn-toolbar" style="text-align:right">
			                        <div class="btn-group">
			                            <a class="btn" href="#"><i class="icon-step-backward"></i> Undo</a>
			                            <a class="btn" href="#"><i class="icon-step-forward"></i> Redo</a>
			                            <a class="btn" href="#" ng-click="completeFM()">Complete FM</a>
			                        </div>
			                        <select id="heuristic-selector" ng-model="selectedHeuristic" ng-options="h for h in heuristics"></select>
		                        </div>
		                        
		                        <div id="ksynthesis">
		                        	<div>
		                        		<h3>Preview</h3>	
		                        		<div id="fmpreview">
		                        		</div>
		                    		</div>
		                        
		                        	<div class="row-fluid">
		                        		<div class="span4">
				                        	<h3>Ranking Lists</h3>
				                        	<ul>
				                        		<li ng-repeat="rankingList in rankingLists" class="parentFt">
				                        		<div ng-click="rankingList.expanded=!rankingList.expanded">
					                        		<i class="icon-plus" ng-if="!rankingList.expanded"></i>
					                        		<i class="icon-minus" ng-if="rankingList.expanded"></i>
					                        		{{rankingList.feature}}
				                        		</div>
				                        		<div ng-if="rankingList.expanded">
				                        			<ul>
					                        			<li ng-repeat="parent in rankingList.parents" style="list-style: none">
					                        				<div class="btn-group">
						                        				<button class="btn btn-default btn-xs dropdown-toggle customBtn" type="button" id="dropdownMenu1" data-toggle="dropdown"> 
						                        					{{parent}} 
						                        					<span class="caret"></span>
						                        				</button>
						                        				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						                        					<li role="presentation">
						                        						<a role="menuitem" tabindex="-1" ng-click='setParent(rankingList.feature,parent)'>
						                        							Select this parent
						                        						</a>
						                        					</li>
						                        					<li role="presentation">
						                        						<a role="menuitem" tabindex="-1" href="#">Ignore this parent</a>
						                        					</li>
						                        					<li role="presentation" class="divider">
						                        					</li>
						                        					<li role="presentation">
						                        						<a role="menuitem" tabindex="-1" href="#">Cancel</a>
						                        					</li>
						                        				</ul>
					                        				</div>
					                        			</li>		                        		
					                        		</ul>
				                        		</li>
				                        		<div/>
				                        	</ul>
				                        </div>
			                        
				                        <div class="span4">
				                        	<h3>Clusters</h3>
				                        	<ul>
			                        			<li ng-repeat="cluster in clusters" style="list-style: none">
		
			                        				 <div ng-if="cluster == selectedCluster">
			                        				 	<select class="span6" ng-model="clusterSelectedParent" ng-options="p for p in clusterPossibleParents"></select>
			                        				 	<button type="button" class="btn btn-success" ng-disabled='clusterSelectedParent==""' ng-click="setClusterParent(clusterSelectedFeatures,clusterSelectedParent)">
			                        				 	  <i class="icon-ok icon-white"></i>
			                        				 	</button>
			                        				 	<button type="button" class="btn btn-danger" ng-click="selectCluster([])">
			                        				 	  <i class="icon-remove icon-white"></i>
			                        				 	</button>
					                    				<ul>
						                        			<li ng-repeat="feature in cluster">
						                        				<input 
						                        					type="checkbox"  
						                        					value="{{feature}}"
						                        					ng-checked="clusterSelectedFeatures.indexOf(feature) > -1"
						                        					ng-click="selectClusterFeature(feature)"
						                        				>
						                        				{{feature}}
						                        			</li>
					                        			</ul>
				                    					
			                        			    </div>
			                        			    
			                        			    <div ng-if="cluster != selectedCluster" ng-click="selectCluster(cluster)">
			                        			    	{{cluster}}
			                        			    	<ul>
						                        			<li ng-repeat="feature in cluster">
						                        				{{feature}}
						                        			</li>
					                        			</ul>
			                        			    </div>
			                    					
			                        			</li>
			                        		</ul>
			                        	</div>
			                        	<div class="span4">
				                        	<h3>Cliques</h3>
				                        	<ul>
			                        			<li ng-repeat="clique in cliques" style="list-style: none">
				                       				 <div ng-if="clique == selectedCluster">
					                 				 	<select class="span6" ng-model="clusterSelectedParent" ng-options="p for p in clusterPossibleParents"></select>
					                 				 	<button type="button" class="btn btn-success" ng-disabled='clusterSelectedParent==""' ng-click="setClusterParent(clusterSelectedFeatures,clusterSelectedParent)">
					                 				 	  <i class="icon-ok icon-white"></i>
					                 				 	</button>
					                 				 	<button type="button" class="btn btn-danger" ng-click="selectCluster([])">
					                 				 	  <i class="icon-remove icon-white"></i>
					                 				 	</button>
					                    				<ul>
						                        			<li ng-repeat="feature in clique">
						                        				<input 
						                        					type="checkbox"  
						                        					value="{{feature}}"
						                        					ng-checked="clusterSelectedFeatures.indexOf(feature) > -1"
						                        					ng-click="selectClusterFeature(feature)"
						                        				>
						                        				{{feature}}
						                        			</li>
					                        			</ul>
				                 					
					                        		</div>
				                 			    
					                 			    <div ng-if="clique != selectedCluster" ng-click="selectCluster(clique)">
					                 			    	{{clique}}
					                 			    	<ul>
							                        			<li ng-repeat="feature in clique">
							                        				{{feature}}
							                        			</li>
						                        			</ul>
					                 			    </div>
			                        			</li>
			                        		</ul>
			                        	</div>
	                        		</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="span3 scrollable">
                        <div id="msgid"></div>
                    </div>
                </div>
            </div>

            <div id="console" class="hide in" ng-controller="FMLConsoleCtrl"></div>

            <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
            <script>
                var editor;
                window.onload = function() {
                    editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");

                    var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
                    editor.getSession().setMode(new JavaScriptMode());
                };
            </script>
            <script>
                $(function () {
                    $('#main-container').css('height', ($('body' ).outerHeight()-80)+'px');
                });

                $('#toggle-console').click(function () {
                    if ($('#console').hasClass('hide')) {
                        $('#console').removeClass('hide');
                    } else {
                        $('#console').addClass('hide');
                    }
                });
            </script>
            
            
        </body>
    }


