@(message: String)
    <!-- Name of the page-->
    @mainFML("Welcome to FAMILIAR!") {

        <!-- facilities for FML variables -->
        <script src="@routes.Assets.at("javascripts/fml/FMLvariables.js")"></script>

        <!-- EDITOR -->
        <script src="@routes.Assets.at("javascripts/fml/FMLeditor.js")" type="text/javascript" charset="utf-8"></script>
        <!-- begin ACE editor -->
	<!-- ace-builds/src-noconflict -->
        <script src="@routes.Assets.at("javascripts/ace-builds-master/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
	<!-- theme of the editor
	    TODO REMOVE 
	-->
        <!--<script src="@routes.Assets.at("javascripts/ace-builds/src-noconflict/theme-monokai.js")" type="text/javascript" charset="utf-8"></script>-->
	<!-- call the mode of the editor
	    Need this
	-->
        <script src="@routes.Assets.at("javascripts/ace-builds-master/src-noconflict/mode-familiar.js")" type="text/javascript" charset="utf-8"></script>
        <!-- end ACE editor (style) -->
        <!-- end EDITOR -->

        <!-- CONSOLE -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ansi.css")">
        <script src="@routes.Assets.at("javascripts/lib/jq-console/jqconsole.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/fml/FMLconsole.js")"></script>
        <!-- end CONSOLE -->

        <!-- WORKSPACE -->
        <script src="@routes.Assets.at("javascripts/lib/alloy-2.0.0/aui/aui-min.js")"></script>
        <link href="@routes.Assets.at("javascripts/lib/alloy-2.0.0/aui-css/css/bootstrap.min.css")" rel="stylesheet">
        <!-- end WORKSPACE -->
        
        <!-- KSYNTHESIS -->
        <script src="@routes.Assets.at("javascripts/lib/dagre-d3/d3.v3.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lib/dagre-d3/dagre-d3.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/fml/ksynthesis.js")"></script>
	<!-- end KSYNTHESIS -->
	<!-- Other CSS -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/console.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/fmpreview.css")">
	<!-- /End Other CSS -->
        </head>
        <body>
            <div class="navbar">
		<!-- Nav part of the app -->
                <div class="navbar-inner">
		    <!-- Contains the toolbar --> 
                    <div class="container-fluid">
			<!-- "logo" -->
                        <a class="brand" href="#">Familiar</a>
                        <button id="toggle-console" class="btn btn-info"><i class="icon-pencil icon-white"></i> Toggle Console</button>
                        <div class="btn-group pull-right" ng-controller="FMLEditorCtrl">
                            <button class="btn btn-info" id="webFmlCmd" ng-click="cmd()">Execute FAMILIAR code</button>
                            <button class="btn btn-info" id="webFmlReset" ng-click="reset()">Reset variables' environment</button>
                            <button class="btn btn-info" id="webFmlSaveAs" ng-click="save()">Save as...</button>
                        </div>
			<!-- search part -->
                        <form class="navbar-form pull-right" style="margin-right: 5px">
                            <input type="text" class="form-control" id="fileInputName" placeholder="Enter filename...">
                        </form>
                    </div>
                </div>
            </div>
	    <!-- IDE part -->
            <div class="container-fluid" id="main-container">
                <div class="row-fluid">
		    <!-- Folder -->
                    <div class="span2 scrollable" id="workspace">
                        <div class="pull-right" style="margin-right: 5px">
                            <button class="btn btn-small" onclick="updateWorkspace();"><i class="icon-refresh"></i></button>
			     <button class="btn btn-small" onclick="createFolder()";"><i class="icon-add"></i></button>
                            <div id="wait"></div>
                        </div>
                        <div id="myTreeView"></div>
                    </div>
		    <!-- Text editor -->
                    <div class="span7" id="tabs-hoster">
			<!-- Tab. part where we choose mod (eg: "FML Editor"...) -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#editor" data-toggle="tab">FML Editor</a></li>
                            <li><a href="#ksynthesis-tab" data-toggle="tab">KSynthesis</a></li>
                        </ul>
			<!-- EDITOR part -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="editor">@message</div>
                            <div class="tab-pane" id="ksynthesis-tab" ng-controller="KSynthesisCtrl">
				
                            	<div class="span7">
                        			<label class="parameter"> Ranking lists </label> 
                        			<select class="heuristic-selector" ng-model="rankingListHeuristic" ng-options="h for h in heuristics"></select> 
                        			<label class="parameter"> Clustering </label> 
                        			<select class="heuristic-selector" ng-model="clusteringHeuristic" ng-options="h for h in heuristics"></select>
                        			<input class="threshold-selector" type="number" min="0" max="1" step="0.1" ng-model="threshold"></input>
                        			<!--<label class="parameter"><input type="checkbox" ng-model="hideClusters"> Hide clusters</label>-->
	                        	</div>
				    <!-- Ksynthesis button-->
	                            <div class="span5 btn-toolbar" style="text-align:right">
			                        <div class="btn-group">
			                        	<button type="button" class="btn btn-default" ng-click="undo()"><i class="icon-step-backward"></i> Undo</button>
			                        	<button type="button" class="btn btn-default" ng-click="redo()"><i class="icon-step-forward"></i> Redo</button>
			                        	<button type="button" class="btn btn-default" ng-click="completeFM()">Complete</button>
			                        	<button type="button" class="btn btn-default" ng-click="saveToVar()">Save</button>
			                        </div>
			                   </div>
			                   
		                        <!-- Ksynthesis part -->
		                        <div id="ksynthesis">
		                        	<div>
							<!-- Graphical result -->
		                        		<h3>Preview</h3>	
		                        		<div id="fmpreview">
		                        			<svg height="250" width="100%"></svg>
		                        		</div>
		                    		</div>
		                        
		                        	<div class="row-fluid">
		                        		<div class="span4">
				                        	<h3>Ranking Lists</h3>
				                        	<!-- Ranking lists for synthesis-->
				                        	<ul>
				                        		<li ng-repeat="rankingList in rankingLists | filter:{parentInFM:null}" class="parentFt">
				                        		<div ng-click="rankingList.expanded=!rankingList.expanded">
					                        		<i class="icon-plus" ng-if="!rankingList.expanded"></i>
					                        		<i class="icon-minus" ng-if="rankingList.expanded"></i>
					                        		{{rankingList.feature}}
				                        		</div>
				                        		<div ng-if="rankingList.expanded">
				                        			<ul>
				                        				<li ng-if="rankingList.isPossibleRoot" style="list-style: none">
				                        					<button type="button" class="btn btn-info" ng-click="setRoot(rankingList.feature)">Set as root</button>
				                        				</li>
					                        			<li ng-repeat="parent in rankingList.parents" style="list-style: none">
					                        				<div class="btn-group">
						                        				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
						                        					{{parent}} 
						                        					<span class="caret"></span>
						                        				</button>
						                        				<ul class="dropdown-menu" role="menu">
						                        					<li role="presentation">
						                        						<a role="menuitem" tabindex="-1" ng-click='setParent(rankingList.feature,parent)'>
						                        							Select this parent
						                        						</a>
						                        					</li>
						                        					<li role="presentation">
						                        						<a role="menuitem" tabindex="-1" ng-click='ignoreParent(rankingList.feature,parent)'>Ignore this parent</a>
						                        					</li>
						                        					<li role="presentation" class="divider">
						                        					</li>
						                        					<li role="presentation">
						                        						<a role="menuitem" tabindex="-1" href="#">Cancel</a>
						                        					</li>
						                        				</ul>
					                        				</div>
					                        			</li>		                        		
					                        		</ul>
				                        		</li>
				                        		<div/>
				                        	</ul>
				                        	
				                        	<hr/>
				                        	<!-- Ranking lists for refactoring -->
				                        	<ul>
			                        		<li ng-repeat="rankingList in rankingLists | filter:{parentInFM:'!!'}" class="parentFt">
			                        		<div ng-click="rankingList.expanded=!rankingList.expanded">
				                        		<i class="icon-plus" ng-if="!rankingList.expanded"></i>
				                        		<i class="icon-minus" ng-if="rankingList.expanded"></i>
				                        		{{rankingList.feature}}
			                        		</div>
			                        		<div ng-if="rankingList.expanded">
			                        			<ul>
				                        			<li ng-repeat="parent in rankingList.originalParents" style="list-style: none">
				                        				<div class="btn-group">
				                        					<button ng-if="rankingList.parentInFM != parent" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
					                        					{{parent}} 
					                        					<span class="caret"></span>
					                        				</button>
					                        				
					                        				<button ng-if="rankingList.parentInFM == parent" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> 
				                        						{{parent}} 
				                        						<span class="caret"></span>
				                        					</button>
					                        				
					                        				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					                        					<li role="presentation">
					                        						<a role="menuitem" tabindex="-1" ng-click='setParent(rankingList.feature,parent)'>
					                        							Select this parent
					                        						</a>
					                        					</li>
					                        					<li role="presentation" class="divider">
					                        					</li>
					                        					<li role="presentation">
					                        						<a role="menuitem" tabindex="-1" href="#">Cancel</a>
					                        					</li>
					                        				</ul>
				                        				</div>
				                        			</li>		                        		
				                        		</ul>
			                        		</li>
			                        		<div/>
			                        	</ul>
				                        </div>
							<!-- Clusters part -->
				                        <div class="span4" ng-if="!hideClusters">
				                        	<h3>Clusters</h3>
				                        	<ul>
			                        			<li ng-repeat="cluster in clusters" style="list-style: none">
		
			                        				 <div ng-if="cluster == selectedCluster">
			                        				 	<select class="span6" ng-model="clusterSelectedParent" ng-options="p for p in clusterPossibleParents"></select>
			                        				 	<button type="button" class="btn btn-success" ng-disabled='clusterSelectedParent==""' ng-click="setClusterParent(clusterSelectedFeatures,clusterSelectedParent)">
			                        				 	  <i class="icon-ok icon-white"></i>
			                        				 	</button>
			                        				 	<button type="button" class="btn btn-danger" ng-click="selectCluster([])">
			                        				 	  <i class="icon-remove icon-white"></i>
			                        				 	</button>
					                    				<ul>
						                        			<li ng-repeat="feature in cluster">
						                        				<input 
						                        					type="checkbox"  
						                        					value="{{feature}}"
						                        					ng-checked="clusterSelectedFeatures.indexOf(feature) > -1"
						                        					ng-click="selectClusterFeature(feature)"
						                        				>
						                        				{{feature.name}}
						                        				<i ng-if="feature.parentInFM != null" class="icon-ok icon-black"></i>
						                        			</li>
					                        			</ul>
				                    					
			                        			    </div>
			                        			    
			                        			    <div ng-if="cluster != selectedCluster" ng-click="selectCluster(cluster)">
			                        			    	<!--{{cluster}}-->
			                        			    	<i class="icon-chevron-right"></i>
			                        			    	<ul>
						                        			<li ng-repeat="feature in cluster">
						                        				{{feature.name}}
						                        			</li>
					                        			</ul>
			                        			    </div>
			                    					
			                        			</li>
			                        		</ul>
			                        	</div>
			                        	<div class="span4" ng-if="!hideClusters">
				                        	<h3>Cliques</h3>
				                        	<ul>
			                        			<li ng-repeat="clique in cliques" style="list-style: none">
				                       				 <div ng-if="clique == selectedCluster">
					                 				 	<select class="span6" ng-model="clusterSelectedParent" ng-options="p for p in clusterPossibleParents"></select>
					                 				 	<button type="button" class="btn btn-success" ng-disabled='clusterSelectedParent==""' ng-click="setClusterParent(clusterSelectedFeatures,clusterSelectedParent)">
					                 				 	  <i class="icon-ok icon-white"></i>
					                 				 	</button>
					                 				 	<button type="button" class="btn btn-danger" ng-click="selectCluster([])">
					                 				 	  <i class="icon-remove icon-white"></i>
					                 				 	</button>
					                    				<ul>
						                        			<li ng-repeat="feature in clique">
						                        				<input 
						                        					type="checkbox"  
						                        					value="{{feature}}"
						                        					ng-checked="clusterSelectedFeatures.indexOf(feature) > -1"
						                        					ng-click="selectClusterFeature(feature)"
						                        				>
						                        				{{feature.name}}
						                        				<i ng-if="feature.parentInFM != null" class="icon-ok icon-black"></i>
						                        			</li>
					                        			</ul>
				                 					
					                        		</div>
				                 			    
					                 			    <div ng-if="clique != selectedCluster" ng-click="selectCluster(clique)">
					                 			    	<!--{{clique}}-->
					                 			    	<i class="icon-chevron-right"></i>
					                 			    	<ul>
							                        		<li ng-repeat="feature in clique">
							                        			{{feature.name}}
							                        		</li>
						                        		</ul>
					                 			    </div>
			                        			</li>
			                        		</ul>
			                        	</div>
	                        		</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
		    <!-- Result part-->
                    <div class="span3 scrollable" ng-controller="FMLVariableCtrl">
                    
                        <div id="msgid"></div>
                        <div>
	                        <p>
	                        	<ul class="unstyled">
	                        		<li ng-repeat="varID in varIDs">
		                        		<div class="dropdown">
			    	                        <button type="button" class="btn dropdown-toggle sr-only" data-toggle="dropdown">
			    	                          {{varID}}
			    	                          <span class="caret"></span>
			    	                        </button>
			    	                        <ul class="dropdown-menu" role="menu">
			    	                          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="displayVariable(varID)">Display</a></li>
			    	                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
			    	                          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="synthesize(varID)">Synthesize</a></li>
			    	                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove</a></li>
			    	                        </ul>
		    	                        </div>
	                        		</li>
	                        	</ul>
	                        	<p ng-if="varIDs" id="lastValueFML" class="alert alert-success">
	                        		{{lastVar}}
	                        	</p>
	                        </p>
	                   </div>
                    </div>
                </div>
            </div>

            <div id="console" class="hide in" ng-controller="FMLConsoleCtrl"></div>

            <script src="@routes.Assets.at("javascripts/lib/bootstrap/bootstrap.js")" type="text/javascript"></script>
            <script>
                var editor;
                window.onload = function() {
                    editor = ace.edit("editor");
                    editor.setTheme("ace/theme/xcode");

                    var JavaScriptMode = ace.require("ace/mode/familiar").Mode;
                    editor.getSession().setMode(new JavaScriptMode());
                };
            </script>
            <script>
                $(function () {
                    $('#main-container').css('height', ($('body' ).outerHeight()-80)+'px');
                });

                $('#toggle-console').click(function () {
                    if ($('#console').hasClass('hide')) {
                        $('#console').removeClass('hide');
                    } else {
                        $('#console').addClass('hide');
                    }
                });
            </script>
            
            
        </body>
    }


