@(message : String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tutorial</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- stylesheet -->   
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tutorial.css")"> 
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- Prism -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/prism.css")">    
    </head>       
    <body ng-app >
          
             <div id="top">
                <div class="container">
                        <div id="title" class="page-header">
                          <h2>Tutorial !<small> - How to use Familiar</small></h2>  
                        </div>
                        
                        <!-- Menu of the tutorial--> 
                        <div id="menu">
                            <!-- link to the web editor -->
                            <a href="/"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-home"></i> Back to the web IDE</button></a>
                            <span class="icon-search"></span>

                        </div>
                </div>
                        
            </div>
             
            <div id="contains">
                
                <div class="container">
                    <!-- div for a short introduction -->
                    <div id="introduction">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus pulvinar massa vel placerat.
                            Mauris viverra, lectus sit amet auctor tristique, nisl erat luctus arcu, sed mattis eros lorem eu felis.
                            Integer ante libero, tincidunt sollicitudin venenatis eu, lacinia a erat. Class aptent taciti sociosqu ad litora torquent per
                            conubia nostra, per inceptos himenaeos. Morbi eu risus tellus. Suspendisse commodo non est a porta. Cras dignissim diam sit
                            amet leo elementum, ac aliquet felis sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Donec volutpat felis at ipsum tempus sollicitudin. Duis nec lectus malesuada, lacinia arcu
                            sed, scelerisque lorem. Etiam pretium pulvinar pellentesque. Quisque volutpat leo quis arcu laoreet, in scelerisque
                            leo lacinia. Integer lobortis nulla non bibendum ullamcorper. Nunc rhoncus odio vitae purus tempus, at
                            ultricies quam tincidunt.
                        </p>
                        <code>Hello World !</code>
                    </div>
                    <!--
                    div which contains editor and the tutorial
                    -->
                    <div class="row">
                        <!-- intruction of the tutorial -->
                        <!-- Left part -->
                        <div class="col-lg-6">
                            <div id="left" class="scrollable">
                                <div id="tutorial">
                                    
                                </div>
                                <!--<h3>Editor</h3>-->
                                
                                <!--<p class="text-justify">
                                    Praesent non massa rutrum, tincidunt nibh et, fermentum libero. Nam auctor pulvinar ligula, non consectetur purus tempus sed.
                                    Nunc in hendrerit lorem. Nullam quis dolor augue. Praesent semper leo dolor, nec euismod lorem fringilla non.
                                    Proin varius sit amet elit sed accumsan. Sed eget laoreet augue. Vivamus odio tellus, semper quis velit vel,
                                    pellentesque luctus libero. Morbi placerat, sapien mollis egestas tristique, sapien quam volutpat neque,
                                    dapibus euismod leo purus eu ante. Sed purus lectus, fringilla vel laoreet luctus, sagittis sit amet justo.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt ante sit amet sapien dignissim,
                                    quis porttitor ipsum fringilla.
                                </p>-->
                                
                                <pre class="line-numbers">
                                    <code class="language-familiar" id="code1"></code>
                                </pre>
                                <button class="btn btn-warning" onclick="setCodeToAce()";><i class="glyphicon glyphicon-pencil"></i> Run</button>
                                <p class="text-justify">
                                    Praesent non massa rutrum, tincidunt nibh et, fermentum libero. Nam auctor pulvinar ligula, non consectetur purus tempus sed.
                                    Nunc in hendrerit lorem. Nullam quis dolor augue. Praesent semper leo dolor, nec euismod lorem fringilla non.
                                    Proin varius sit amet elit sed accumsan. Sed eget laoreet augue. Vivamus odio tellus, semper quis velit vel,
                                    pellentesque luctus libero. Morbi placerat, sapien mollis egestas tristique, sapien quam volutpat neque,
                                    dapibus euismod leo purus eu ante. Sed purus lectus, fringilla vel laoreet luctus, sagittis sit amet justo.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt ante sit amet sapien dignissim,
                                    quis porttitor ipsum fringilla.
                                </p>
                                <p class="text-justify">
                                    Praesent non massa rutrum, tincidunt nibh et, fermentum libero. Nam auctor pulvinar ligula, non consectetur purus tempus sed.
                                    Nunc in hendrerit lorem. Nullam quis dolor augue. Praesent semper leo dolor, nec euismod lorem fringilla non.
                                    Proin varius sit amet elit sed accumsan. Sed eget laoreet augue. Vivamus odio tellus, semper quis velit vel,
                                    pellentesque luctus libero. Morbi placerat, sapien mollis egestas tristique, sapien quam volutpat neque,
                                    dapibus euismod leo purus eu ante. Sed purus lectus, fringilla vel laoreet luctus, sagittis sit amet justo.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt ante sit amet sapien dignissim,
                                    quis porttitor ipsum fringilla.
                                </p>
                            </div>
                        </div>
                
                        <!-- Editor -->
                        <!-- Right part -->
                        <div class="col-lg-6">
                            <div id="edit">
                                @editor(message)
                            </div>
                            <div id="btnExec">
                                <div ng-controller="FMLEditorCtrl">
                                    <button class="btn btn-info" id="webFmlCmd" ng-click="cmd()" ><i class="glyphicon glyphicon-play"></i> Execute FAMILIAR code</button>
                                </div>
                            </div>
                            <div id="res">
                                
                                <!-- add -->
                                <div class="span3" ng-controller="FMLVariableCtrl">
                                    <!-- diplay the result in this div -->
                                    <div id="msgid"></div>
                                        <div>
                                            <p>
                                                <ul class="unstyled">
                                                	<div class="dropdown">
                                                            <button type="button" class="btn dropdown-toggle sr-only" data-toggle="dropdown">
                                                                {{varID}}
                                                                <span class="caret"></span>
                                                            </button>
                                                        </div>  
                                                </ul>
                                                <p ng-if="varIDs" id="lastValueFML" class="alert alert-success">
                                                	{{lastVar}}
                                                </p>
                                            </p>
                                        </div>
                                </div>
                                <!-- end add-->
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    <div class="col-md-4">
                        <ul>
                            <li class="text-muted"><a href="https://github.com/FAMILIAR-project/webfml">Github</a></li>    
                        </ul>
                    </div>
                    <div class="col-md-4" id="col_bot_center">
                        <p class="text-muted">Made with <i class="glyphicon glyphicon-heart"></i> in Rennes </p>
                    </div>
                    <div class="col-md-4">
                       <p class="text-muted">Inria</p>
                    </div>
                </div>
            </div>
            
                
            <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>    
            <!-- jQuery -->
            <script src="@routes.Assets.at("/javascripts/lib/jquery/jquery.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("javascripts/lib/jquery/jquery-migrate.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("/javascripts/lib/angular-1.2.2/angular.min.js")" type="text/javascript"></script>            
            <script src="@routes.Assets.at("javascripts/fml/FMLvariables.js")"></script>
            
         
            
            <!-- begin ACE editor -->
            <!-- ace-builds/src-noconflict -->
            <script src="@routes.Assets.at("javascripts/ace-builds-master/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
            <!-- call the mode of the editor
	    Need this
            -->
            <script src="@routes.Assets.at("javascripts/ace-builds-master/src-noconflict/mode-familiar.js")" type="text/javascript" charset="utf-8"></script>
            <!-- end ACE editor (style) -->
            <!-- end EDITOR -->
            <!-- Boostrap-->
            <script src="@routes.Assets.at("javascripts/lib/bootstrap/bootstrap.js")" type="text/javascript"></script>
            <!-- Editor-->
            <script src="@routes.Assets.at("/javascripts/fml/lib_editor.js")"></script>
            <!---Script related of autocompletion-->
	    <script src="@routes.Assets.at("/javascripts/ace-builds-master/src-noconflict/ext-language_tools.js")"></script>
	    <script src="@routes.Assets.at("/javascripts/fml/autocompletion_options.js")"></script>
            <!-- script for the execution of the code -->
            <script src="@routes.Assets.at("/javascripts/fml/tutorial_execute.js")"></script>
            <!-- Prism-->
            <script src="@routes.Assets.at("/javascripts/prism/prism.js")" ></script>
            <!-- marked -->
            <script src="@routes.Assets.at("/javascripts/lib/marked/marked.js")"></script>
            <script src="@routes.Assets.at("/javascripts/fml/tutorial_getMarkdown.js")" async></script>
            
            
            <script>
                var myCode="";
                /*
                 *Put the code into the Ace editor
                 */
                function setCodeToAce(id) {
                    var code = document.getElementById(id).innerHTML
                    editor.getSession().setValue(myCode);
                }
            </script>
           
             
            <script>
                //When the DOM is ready, we call this function
                $(function() {
                        myCode = "fm1 = FM (A: B [C] ; )"+"\n"+
                            "fm9 = FM (A : B ; )"+"\n"+
                            "fm2 = FM (A : B [C] ; )"+"\n"+
                            "fm3 = FM (A : B [E] ; )"+"\n"+
                            "fm4 = merge sunion fm*"+"\n"+
                            "fm5 = FM (A : J [K] [L] ; )"+"\n"+
                            "\n"+
                            "fm0 = merge sunion fm*"+"\n"+
                            "\n"+
                            "n0 = counting fm0"+"\n"+
                            "nTotal = 0"+"\n"+
                            "foreach (fm in fm*) do"+"\n"+
                            "   nfm = counting fm"+"\n"+
                            "   nTotal = nTotal + nfm"+"\n"+
                            "end"+"\n"+ 
                            "\n"+
                            "nTotal = nTotal + 1"+"\n"+
                            "n4 = counting fm4"+"\n"+
                            "n7 = counting fm0"+"\n"+
                            "fm0"+"\n"+
                            "mtx = computeMUTEXGroups fm0";
                        document.getElementById("code1").innerHTML = myCode;
                    });
            </script>
            
           
        
            
            
        </body>
</html>