#title{
    text-align: center;
}

#introduction{
    /*the line which seperate the part*/
    border-bottom: 1px solid #eee;
    margin-bottom:10px;
}

.container{
    width: 70%;
}

.container .text-muted {
    margin: 20px 0;
}

#editor{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*.scrollable {
    height: 100%;
    overflow: auto;
}*/

#footer{
    text-align: center;
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}