@(message : String, jsToImport : Html, btnToImport:Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tutorial</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- stylesheet -->   
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tutorial.css")"> 
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- Prism -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/prism.css")">
        <!-- mCustomScrollbar -->   
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.mCustomScrollbar.css")">
    </head>       
    <body ng-app >
          
             <div id="top">
                <div class="container">
                        <div id="title" class="page-header">
                            <!-- Change here for the language var-->
                          <h2>Tutorial !<small id="head"></small></h2>  
                        </div>
                        
                        <!-- Menu of the tutorial--> 
                        <div id="menu">
                            <!-- link to the web editor -->
                            <a href="/"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-home"></i> Back to the Home page</button></a>
                            <span class="icon-search"></span>
                        </div>
                </div>
                        
            </div>
             
            <div id="contains">
                
                <div class="container">
                    <!-- div for a short introduction -->
                    <div id="introduction"></div>
                    <div id="menu_tuto"></div>
                    <!--
                    div which contains editor and the tutorial
                    -->
                    <div class="row">
                        <!-- intruction of the tutorial -->
                        <!-- Left part -->
                        <div id="left" class="col-lg-6">
                            <!--scrollable-->
                            <div class="scrollable mCustomScrollbar">
                                <!-- the tutorial -->
                                <div id="tutorial"></div>
                            </div>
                            
                        </div>
                
                        <!-- Editor -->
                        <!-- Right part -->
                        <div id="right" class="col-lg-6">
                            <div id="edit">
                                @editor(message)
                            </div>
                            <div id="btnExec">
                                <div ng-controller="FMLEditorCtrl">
                                    @btnToImport
                                </div>
                            </div>
                            <div id="res">
                                
                                <!-- add -->
                                <div class="span3" ng-controller="FMLVariableCtrl">
                                    <!-- diplay the result in this div -->
                                    <div id="msgid"></div>
                                        <div>
                                            <p>
                                                <ul class="unstyled">
                                                    <li ng-repeat="varID in varIDs">
                                                        <div class="dropdown">
                                                            <button type="button" class="btn dropdown-toggle sr-only" data-toggle="dropdown">
                                                              {{varID}}
                                                              <span class="caret"></span>
                                                            </button>
                                                            <!--<ul class="dropdown-menu" role="menu">
                                                              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="displayVariable(varID)">Display</a></li>
                                                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
                                                              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="synthesize(varID)">Synthesize</a></li>
                                                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove</a></li>
                                                            </ul>-->
                                                        </div>
                                                    </li>  
                                                </ul>
                                                <p ng-if="varIDs" id="lastValueFML" class="alert alert-success">
                                                	{{lastVar}}
                                                </p>
                                            </p>
                                        </div>
                                </div>
                                <!-- end add-->
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    <p class="footerPara">
                        Website created by the DiverSE Team
                    </p>
                    <div id="footerLeft">
                        <p>
                            <a href="http://diverse.irisa.fr/">DiverSE</a>
                            <a href="http://www.irisa.fr/">Irisa</a>
                            <a href="http://www.inria.fr/en/">Inria</a>
                        </p>
                    </div>
                    <div id="footerCenter">
                        <p>
                            Made with <i class="glyphicon glyphicon-heart"></i> in Rennes
                        </p>
                    </div>
                    <div id="footerRight">
                        <p>
                            <a href="https://github.com/FAMILIAR-project/webfml"><i class="fa fa-github"></i> Sources</a>
                        </p>        
                    </div>                
                </div>
            </div>
            
  
            <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
            <!-- jQuery -->
            <script src="@routes.Assets.at("/javascripts/lib/jquery/jquery.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("javascripts/lib/jquery/jquery-migrate.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("/javascripts/lib/angular-1.2.2/angular.min.js")" type="text/javascript"></script>            
            <script src="@routes.Assets.at("javascripts/fml/FMLvariables.js")"></script>
            
         
            
            <!-- begin ACE editor -->
            <!-- ace-builds/src-noconflict -->
            <script src="@routes.Assets.at("javascripts/ace-builds-master/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
            <!-- call the mode of the editor
	    Need this
            -->
           
            <!-- end ACE editor (style) -->
            <!-- end EDITOR -->
            <!-- Boostrap-->
            
            <script src="@routes.Assets.at("javascripts/lib/bootstrap/bootstrap.js")" type="text/javascript"></script>
            <!-- Editor-->
            <script src="@routes.Assets.at("/javascripts/fml/lib_editor.js")"></script>
            <!---Script related of autocompletion-->
	        <script src="@routes.Assets.at("/javascripts/ace-builds-master/src-noconflict/ext-language_tools.js")"></script>
	        <script src="@routes.Assets.at("/javascripts/fml/autocompletion_options.js")"></script>
            <!-- script for the execution of the code -->
            <script src="@routes.Assets.at("/javascripts/fml/tutorial_execute.js")"></script>
            <!-- Prism-->
            <script src="@routes.Assets.at("/javascripts/prism/prism.js")" ></script>
           
            <!--<script src="@routes.Assets.at("/javascripts/fml/tutorial_menu.js")"></script>-->
            <!-- nanoscroller-->
            <script src="@routes.Assets.at("/javascripts/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js")"></script>
             <!-- marked -->
            <script src="@routes.Assets.at("/javascripts/lib/marked/marked.js")"></script>
            
            <!-- Get the cookie-->
            <script asyn src="@routes.Assets.at("/javascripts/fml/tutorial_getCookie.js")"></script>
            @jsToImport
	        
            <!--test of the vm mode -->
            <!--<script type="text/javascript" src="@routes.Assets.at("javascripts/ace-builds-master/src-noconflict/mode-vm.js")"></script>-->
            <script type="text/javascript">
                //var language="";
                /*window.onload=function(){
                    //get the language in the cookie
                    var language = document.cookie;
                    //split the languague because language=vm
                    var res = language.split("=");
                    //set to the language var the good language name
                    language=res[1];
                    //test if the language have the correct name
                    if(language=='vm'){

                    }

                    if(language='familiar'){
                        $.getScript('assets/javascripts/ace-builds-master/src-noconflict/mode-familiar.js',function(){
                            console.log("execute")
                        });
                    }
                    document.getElementById("head").innerHTML=" - How to use " + language.toUpperCase(); 
                };*/

            </script>
            <script src="@routes.Assets.at("/javascripts/fml/tutorial_getMarkdown.js")"></script>
            <script>
                /*
                 *Put the code into the Ace editor
                 */
                function setCodeToAce(id) {
                    //get what they are in the code bloc
                    var code = document.getElementById(id).innerHTML;
                    //regex : <[a-zA-Z]*>
                    //regex to delete what prism added
                    var res = code.replace(/<[^>]*>/g,"");
                    var ret = res.replace(/&gt;/g,">");
                    var deletesmt = ret.replace(/&lt;/g,"<");
                    //put in the editor                     
                    editor.getSession().setValue(deletesmt);
                }
            </script>
            <script type="text/javascript">
                $(function(){
                    document.getElementById("head").innerHTML=" - How to use " + language.toUpperCase();
                });
            </script>
            

            <script>
                /**
                 *Load the correct chapter into the tutorial div
                 *language : the current language of the app
                 *name : the name of the chapter
                 */
                function getChap(name,language){
                    //read all the file in the name repo
                    jsRoutes.controllers.WebFMLInterpreter.getChapter(name,language).ajax({
                        //if works
                        success : function(data){
                            //put in the div the content
                            document.getElementById('tutorial').innerHTML= (marked(data));
                            Prism.highlightAll();
                        },
                        //if error
                        error : function(data) {  
                            $('tutorial').html('Error'+ data) ; 
                        }
                    });
                }
            </script>
            
            <script>
                /**
                 *Theme of the scrollbar
                 */
                $(".tutorial").mCustomScrollbar({
                    theme:"minimal-dark",
                    scrollButtons:{
                        enable:true
                    }
                });
            </script>
        </body>
</html>